#register,
#login {
  background-image: url("../images/authbanner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-page,
.register-page {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  height: fit-content;
  min-height: 500px;
  width: 95%;
  margin: 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.764);
}

.left-side {
  background-image: url("../images/authbanner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 45%;
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--bg-color-accent);
}
.left-side h1 {
  color: var(--font-accent-color-light);
}
.left-side h1,
.left-side p {
  text-align: center;
  width: 100%;
  color: var(--font-accent-color-light);
}
.left-side p > a {
  font-weight: bold;
}
.right-side {
  padding: 3rem;
  background-color: var(--bg-color-accent);
  display: grid;
  align-content: start;
  gap: 2rem 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 55%;
}
.form-heading {
  color: var(--font-accent-color-dark);
  grid-column: 1/-1;
  border-bottom: 2px solid rgb(19, 27, 67);
  padding-bottom: 5px;
  width: fit-content;
}
.auth-form > label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: fit-content;
}
.auth-form > label > label {
  color: red;
  text-align: start;
  width: 100%;
  padding: 3px;
  font-size: 0.85rem;
  position: absolute;
  bottom: -25px;
}
.label-for-name {
  margin-bottom: 15px;
}
.label-for-name > label {
  height: 50px;
  bottom: -50px !important;
}
.auth-form button {
  margin-top: 57px;
}
.auth-form > label > span {
  position: absolute;
  left: 10px;
  color: var(--font-accent-color-dark);
}
.auth-form > label > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  font-size: 1.1rem;
  border-bottom-color: rgb(19, 27, 67);
  transition: var(--transition-time);
}
.auth-form > label > input:hover,
.auth-form > label > input:focus {
  border: 2px solid rgb(19, 27, 67);
}
.auth-form > label > input::placeholder {
  color: var(font-primary-color-dark);
}
#visibilityButton {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  margin-top: 0;
  top: 50%;
  transform: translateY(-45%);
}
#redirect {
  margin-top: auto !important;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 3px black;
  padding: 1rem;
}
.label-for-password,
.label-for-mail,
.label-for-select {
  grid-column: 1/-1;
}
.label-for-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.label-for-select p {
  width: 100%;
  margin: 0.5rem;
}
.form-submit-btn {
  grid-column: 1/-1;
  font-size: 1.15rem;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-submit-btn:hover {
  background-color: #01015c;
  color: var(--bg-color-accent);
}
.label-checkbox {
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.label-checkbox > span {
  min-width: 20ch;
  padding: 0 1rem;
}
#rememberMe {
  accent-color: var(--primary-color);
  width: 18px;
  height: 18px;
}
.mobile-p {
  display: none;
}
.forgot-pass-link {
  color: var(--font-accent-color-dark);
  text-align: end;
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Reseting properties */
  .auth-form button {
    margin-top: 0;
  }
  #register,
  #login {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: none;
  }
  .login-page,
  .register-page {
    display: flex;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 5%);
    max-width: 1000px;
    height: fit-content;
    min-height: 500px;
    width: 95%;
    margin: 0;
    border-radius: 1rem;
    box-shadow: none;
  }
  .left-side {
    display: none;
  }
  .auth-form {
    grid-template-columns: 1fr;
    padding: 1rem;
    width: 100%;
    min-height: 95vh;
    position: absolute;
    top: 0;
    box-shadow: var(--uni-box-shadow);
  }
  .mobile-p {
    display: inline;
  }
  .forgot-pass-link {
    text-align: start;
  }
  .right-side {
    gap: 1rem;
  }
  .auth-form > label > label {
    position: relative;
    bottom: auto;
  }
  .label-for-name {
    margin-bottom: 0;
  }
  .label-for-name > label {
    height: 0;
    bottom: 0 !important;
  }
  .auth-form button {
    margin-top: 57px;
  }
}
@media (max-width: 356.98px) {
  .right-side {
    gap: 2.5rem;
  }
}
