.quiz-history-page {
  margin: 2rem 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#quiz-history-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  gap: 2rem 1rem;
}
#heading-of-page {
  grid-column: 1/-1;
}
.history-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  min-height: 250px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 1rem 1.5rem;
  background-color: var(--bg-color-accent);
}
.history-item p {
  display: flex;
  gap: 5px;
  align-items: center;
}
.links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.history-item a {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-time);
  border: 1px solid black;
}
.history-item a:first-child:hover {
  background-color: black !important;
  color: white !important;
}
.history-item a:last-child:hover,
#search-form button:hover {
  background-color: #01015c;
  color: var(--bg-color-accent) !important;
}
.quiz-history-page form {
  background-color: var(--bg-color-accent);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.quiz-history-page form:first-child > input {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
.quiz-history-page form:first-child > button {
  height: 100%;
  width: 100%;
  max-width: 175px;
  background-color: var(--primary-color);
  border: none;
  padding: 0.25rem 0.5rem;
}
@media (max-width: 991.98px) {
  .quiz-history-page {
    margin: 1.5rem 1rem;
  }
  #quiz-history-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .quiz-history-page form {
    flex-direction: column;
    height: 150px;
  }
  .quiz-history-page form:first-child > button {
    max-width: 100%;
  }
  #quiz-history-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #quiz-history-container {
    grid-template-columns: 1fr;
  }
}
