<div class="analytics-page">
  <figure class="highcharts-figure">
    <div id="pie-chart-container"></div>
    <p class="highcharts-description">
      The pie chart illustrates the distribution of quiz categories based on
      frequency of your participation on this app. The biggest slice tells us
      you play that category the most.
    </p>
  </figure>
  <figure class="highcharts-figure">
    <div id="bar-chart-container"></div>
    <p class="highcharts-description">
      This bar chart provides an overview of quiz attempts. Each bar represents
      a specific category, showcasing the total number of quiz attempts, as well
      as the breakdown between successful completions and failed attempts.
    </p>
  </figure>
  <figure class="highcharts-figure">
    <div id="line-chart-container"></div>
    <p class="highcharts-description"></p>
  </figure>
</div>
