<div class="dashboard">
  <section class="dashboard-item welcome">
    <h1 id="username-h">Welcome back, Faris Muhovic 👋</h1>
    <p id="time-p">Today is Saturday, 24.07.2022</p>
    <p id="fun-fact-p">
      A blue whale's heart is the size of a Volkswagen Beetle!
    </p>
  </section>
  <section class="dashboard-item quiz-browser">
    <a href="#quizSearch">
      <img
        src="./images/dashboard-banners/quizbanner.png"
        alt="Quiz banner"
        loading="lazy"
      />
      <h3>Browse quizes</h3>
    </a>
    <p>Get started by browsing some quizzes by categories.</p>
  </section>
  <section class="dashboard-item">
    <a href="#profile">
      <img
        src="./images/dashboard-banners/profilebanner.png"
        alt="Profile banner"
        loading="lazy"
      />
      <h3>Profile page</h3>
    </a>
    <p>Edit your profile information.</p>
  </section>
  <section class="dashboard-item">
    <a href="#quizHistory">
      <img
        src="./images/dashboard-banners/quizhistory.png"
        alt="Quiz history banner"
        loading="lazy"
      />
      <h3>Quiz history</h3>
    </a>
    <p>Check your recently done quizzes and answers.</p>
  </section>
  <section class="dashboard-item">
    <a href="#leaderboard">
      <img
        src="./images/dashboard-banners/leaderboard.png"
        alt="Leaderboard banner"
        loading="lazy"
      />
      <h3>Leaderboard</h3>
    </a>
    <p>Check who was the most badges received.</p>
  </section>
  <section class="dashboard-item">
    <a href="#analytics">
      <img
        src="./images/dashboard-banners/stats.png"
        alt="Statistics banner"
        loading="lazy"
      />
      <h3>Your statistics</h3>
    </a>
    <p>Check interesting statistical data based on your quiz attempts</p>
  </section>
  <section class="dashboard-item log-out">
    <button class="logout-btn" id="logout-dash">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </section>
</div>
