<main class="profile-page">
  <section class="avatar">
    <h1 id="greeting-h1">Hello, Faris! 👋</h1>
    <img
      src="./images/avatars/avatar_1.svg"
      alt="avatar"
      loading="lazy"
      id="user-avatar"
    />
    <button id="change-avatar-btn">Change avatar</button>
  </section>
  <section class="personal-info">
    <h1>Personal information</h1>
    <form id="details-form">
      <label>
        <span>First name</span>
        <input
          type="text"
          name="firstname"
          id="firstname"
          disabled
          required
          minlength="2"
          maxlength="25"
        />
      </label>
      <label>
        <span>Last name</span>
        <input
          type="text"
          name="lastname"
          id="lastname"
          disabled
          required
          minlength="2"
          maxlength="25"
        />
      </label>
      <label>
        <span>Email</span>
        <input
          type="email"
          name="email"
          id="email"
          disabled
          required
          minlength="5"
          maxlength="25"
        />
      </label>
      <label>
        <span>Age</span>
        <input
          type="number"
          name="age"
          id="age"
          disabled
          required
          min="5"
          max="99"
        />
      </label>
      <label>
        <span>Date of birth</span>
        <input
          type="date"
          name="dateofbirth"
          id="dateofbirth"
          disabled
          required
        />
      </label>
      <label>
        <span>Country</span>
        <input
          type="text"
          name="country"
          id="country"
          disabled
          required
          minlength="2"
          maxlength="50"
        />
      </label>
      <div class="btns-wrapper">
        <button id="change-info-btn" type="button">Change information</button>
        <button type="submit" id="save-changes-btn">Save changes</button>
      </div>
    </form>
  </section>
  <section class="achievements" id="achivements-container">
    <h1>Achievements</h1>
    <section class="achievement skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
    <section class="achievement skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
    <section class="achievement skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
  </section>
</main>

<div id="modal-for-avatar">
  <div class="modal-header-def">
    <h3 class="modal-title-def">Select an avatar</h3>
    <button type="button" class="close" id="close-btn-top">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body-def">
    <img src="./images/avatars/avatar1.svg" alt="avatar1" loading="lazy" />
    <img src="./images/avatars/avatar2.svg" alt="avatar2" loading="lazy" />
    <img src="./images/avatars/avatar3.svg" alt="avatar3" loading="lazy" />
    <img src="./images/avatars/avatar4.svg" alt="avatar4" loading="lazy" />
    <img src="./images/avatars/avatar5.svg" alt="avatar5" loading="lazy" />
    <img src="./images/avatars/avatar6.svg" alt="avatar6" loading="lazy" />
    <img src="./images/avatars/avatar7.svg" alt="avatar7" loading="lazy" />
    <img src="./images/avatars/avatar8.svg" alt="avatar8" loading="lazy" />
    <img src="./images/avatars/avatar9.svg" alt="avatar9" loading="lazy" />
  </div>
  <div class="modal-footer-def">
    <button id="save-changes-for-avatar-change-btn">Save changes</button>
    <button type="button" id="close-btn-footer">Close</button>
  </div>
</div>
