<div class="quiz-history-page">
  <form action="" method="post" id="search-form">
    <input
      type="search"
      name="searchQuery"
      id="search-bar"
      placeholder="Search for an quiz name."
    />
    <button type="submit" class="form-submit-btn">Search</button>
  </form>
  <h1 id="heading-of-page">Your recently taken quizzes</h1>
  <div id="quiz-history-container">
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
      <div class="skeleton skeleton-text skeleton-footer"></div>
    </section>
  </div>
</div>
