<div class="quiz-page">
  <div class="time">
    <p id="quiz-time-left">Time left: 00:00</p>
  </div>
  <section class="heading">
    <h1 id="quiz-title-current">
      <div class="text-container">
        <div class="skeleton skeleton-text"></div>
      </div>
    </h1>
    <h3 id="quiz-category-current">
      <div class="skeleton skeleton-text" style="width: 50%"></div>
    </h3>
  </section>
  <form id="questions-container-form">
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
    <section class="quiz-banner skeleton-section">
      <div class="text-container">
        <div class="skeleton skeleton-text" style="height: 30px"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
      </div>
    </section>
  </form>
</div>
