<div class="user-management-page">
  <form id="search-form-user-management">
    <input
      type="search"
      name="searchQuery"
      id="search-bar-user-management"
      placeholder="Search for an user name."
    />
    <button type="submit" class="form-submit-btn">Search</button>
  </form>
  <h1 id="heading-of-page">Users</h1>
  <section class="users-section" id="user-container">
    <div class="quiz">
      <div
        class="quiz-info text-container"
        style="display: flex; flex-direction: row"
      >
        <div class="skeleton skeleton-text" style="height: 25px"></div>
      </div>
      <div class="btns-wrapper">
        <div class="skeleton skeleton-text" style="height: 15px"></div>
        <div class="skeleton skeleton-text" style="height: 15px"></div>
      </div>
    </div>
    <div class="quiz">
      <div
        class="quiz-info text-container"
        style="display: flex; flex-direction: row"
      >
        <div class="skeleton skeleton-text" style="height: 25px"></div>
      </div>
      <div class="btns-wrapper">
        <div class="skeleton skeleton-text" style="height: 15px"></div>
        <div class="skeleton skeleton-text" style="height: 15px"></div>
      </div>
    </div>
    <div class="quiz">
      <div
        class="quiz-info text-container"
        style="display: flex; flex-direction: row"
      >
        <div class="skeleton skeleton-text" style="height: 25px"></div>
      </div>
      <div class="btns-wrapper">
        <div class="skeleton skeleton-text" style="height: 15px"></div>
        <div class="skeleton skeleton-text" style="height: 15px"></div>
      </div>
    </div>
  </section>
</div>

<div class="sure-modal" id="sure-modal-2">
  <h5>Are you sure?</h5>
  <div class="btn-container">
    <button id="confirm-btn-2">Yes</button>
    <button
      style="background-color: white; border: 2px solid black"
      id="cancel-btn-2"
    >
      No
    </button>
  </div>
</div>

<div class="sure-modal" id="sure-modal-3">
  <h5>Are you sure?</h5>
  <div class="btn-container">
    <button id="confirm-btn-3">Yes</button>
    <button
      style="background-color: white; border: 2px solid black"
      id="cancel-btn-3"
    >
      No
    </button>
  </div>
</div>
